---

---
<footer class="py-8 bg-slate-950">
  <div class="contenedor text-center">
    <p class="text-white">Realizado con Astro , React <span>❤️</span> {new Date().getFullYear()}</p>
  </div>
</footer>